body {
    padding: 0px;
    margin: 0px;
}

.header {
    background-image: url('../imagenes/pexels-faik-akmd-1025469.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 618PX;
}

.Titulo {
    color: rgb(255, 255, 255);
    margin-top: 0px;
    text-align: center;
    font-family: monospace;
    padding-top: 140px;
    font-size: 80px;
}

.main__button{
    background-color:  rgb(241, 167, 6);
    width: 200px;
    margin-left: 2px;
    margin-top: 50px;
    border: 0px;
    border-radius: 34px;
    height: 65px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    border: solid 4px white;
}
.main__button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.main__button:hover{
    width: 200px;
    background-color: rgb(196, 216, 16);
    transition: 500ms;
    margin-left: 2px;
    border: solid 4px rgb(7, 7, 7);
}
.main__button a:hover {
    color: rgb(255, 255, 255);
}
.defin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../imagenes/pexels-faik-akmd-1025469.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 618PX;
    cursor: pointer;
}

.cajita{
    width: 600px;
    height: 360px;
    background: linear-gradient(to left, black, red);
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.cajita img{
    height: 200px;
    padding: 0px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 4px solid #666;
    box-shadow: rgb(0 0 0 / 65%) 0 1px 6px;
    cursor: pointer;
    margin-right: 25px;
    align-items: center;
}
.cajita p{
    color: white;
}
.cajita h1{
    text-align: center;
    color: aquamarine;
}


